@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  padding: 0;
}

.kino {
  margin-top: 21px;
  margin-left: 121px;
  margin-bottom: 91px;
}

.logo {
  width: 112px;
}

.main-menu {
  display: flex;
  margin-top: 96px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
}

.mm-text {
  width: 170px;
  margin-right: 35px;
}

.text2 {
  margin-right: 10px;
}

.icon {
  margin-right: 10px;
}

.main-text {
  display: flex;
  justify-content: space-between;
  margin-right: 150px;
}

.main-title {
  width: 628px;
  margin-right: 140px;
}

.title-kino {
  font-family: "Roboto Slab", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 101.38%;
  margin: 0;
}

.mainlogo-phone {
  visibility: hidden;
  position: absolute;
}

.info {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  width: 414px;
}

.author-block {
  background-color: #1e4681;
  border-radius: 5px;
  width: 484px;
  height: 200px;
  margin-top: 88px;
  margin-left: 289px;
}

.author-info {
  color: white;
  padding-top: 20px;
  padding-right: 27px;
  padding-left: 26px;
  font-family: "Roboto Slab", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 130%;
  margin: 0;
}

.author {
  margin: 0;
  color: white;
  padding-top: 9px;
  padding-right: 19px;
  padding-left: 278px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
  text-align: right;
}

.course-sec {
  margin-top: 21px;
  margin-left: 121px;
  margin-bottom: 162px;
}

.title {
  font-family: "Roboto Slab", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 101.38%;
}

.main-sect {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 46px;
}

.text {
  padding-right: 190px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
}

.logo1 {
  width: 313px;
  margin-right: 150px;
}

.course {
  display: flex;
  margin-top: 94px;
  align-items: center;
}

.logo2 {
  width: 232px;
  margin-right: 132px;
}

.sect {
  width: 150px;
  margin-right: 95px;
}

.number {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 130%;
}

.description {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
}

.format {
  margin-top: 62px;
  margin-left: 121px;
}

.ts-info {
  display: flex;
  margin-top: 116px;
  justify-content: left;
}

.sect-ts {
  width: 270px;
}

.sect-ts_second {
  margin-left: 122px;
  margin-right: 114px;
}

.head-ts {
  margin: 0;
  color: #1e4681;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 130%;
}

.text-ts {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  margin-top: 9px;
}

.about-sec {
  margin-top: 179px;
  margin-left: 121px;
  margin-bottom: 232px;
}

.spisok {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  width: 662px;
  margin-top: 49px;
}

.program {
  margin-left: 84px;
  padding-bottom: 121px;
}

.program-title {
  margin-left: 36px;
}

.rectangles {
  display: flex;
  flex-wrap: wrap;
  margin-top: 121px;
}

.rectangle {
  border: none;
  border-radius: 30px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
  margin-right: 37px;
  margin-bottom: 41px;
}

.rect-head {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 130%;
  margin: 0;
  padding-top: 11px;
  padding-left: 20px;
  padding-bottom: 32px;
}

.rect-info {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 130%;
  margin: 0;
  width: 220px;
  padding-left: 19px;
  padding-bottom: 23px;
}

.otziv {
  background-color: #efefef;
  padding-top: 91px;
  padding-left: 122px;
  padding-bottom: 111px;
}

.card {
  margin-top: 64px;
  margin-left: 5px;
  background: #ffffff;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  width: 791px;
  padding-top: 40px;
}

.card-info {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  width: 700px;
  margin-left: 45px;
  margin-bottom: 10px;
}

.avatar {
  display: flex;
  margin-left: 26px;
  margin-bottom: 29px;
}

.fio {
  font-family: "Roboto Slab", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 101.38%;
}

.date {
  background-color: #9dc9c8;
  padding-top: 144px;
  padding-left: 122px;
  padding-bottom: 185px;
}

.price {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 101.38%;
  margin: 57px 0 8px 0;
}

.pricen {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 101.38%;
  margin: 0;
}

.date-f {
  display: flex;
}

.date-d {
  width: 294px;
  margin-top: 71px;
  margin-right: 70px;
}

.date-f_h {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 101.38%;
  margin: 0 0 13px 0;
}

.date-f_p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 101.38%;
  margin: 0;
}

footer {
  background-color: #000;
  color: white;
  padding-left: 122px;
  padding-top: 50px;
  padding-bottom: 45px;
}

.footer-f {
  display: flex;
}

.logo-phone {
  visibility: hidden;
  position: absolute;
}

.logo-icon {
  margin-right: 656px;
}

.icon {
  margin-top: 30px;
  margin-right: 18px;
}

.contact {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 101.38%;
  margin-left: 22px;
}

.contact-p {
  display: flex;
}

.contact-d {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 101.38%;
  margin-top: 146px;
  margin-bottom: 0;
}

@media (min-width: 833px) and (max-width: 1279px) {
  .kino {
    margin-top: 22px;
    margin-left: 70px;
    margin-bottom: 91px;
  }

  .logo {
    width: 65px;
  }

  .main-menu {
    display: flex;
    margin-top: 0px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 115%;
    margin-bottom: 34px;
  }

  .mm-text {
    width: 105px;
    height: 22px;
    margin-right: 15px;
  }

  .text2 {
    margin-right: 10px;
  }

  .icon {
    margin-right: 10px;
  }

  .main-text {
    display: flex;
    justify-content: space-between;
    margin-right: 150px;
  }

  .main-title {
    width: 363px;
    margin-right: 140px;
  }

  .title-kino {
    font-family: "Roboto Slab", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 46px;
    line-height: 101.38%;
    margin: 0;
    width: 363px;
  }

  .info {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    width: 263px;
  }

  .mainlogo {
    position: absolute;
    visibility: hidden;
    width: 176px;
  }

  .mainlogo-phone {
    position: relative;
    visibility: visible;
    width: 176px;
  }

  .author-block {
    background-color: #1e4681;
    border-radius: 5px;
    width: 280px;
    height: 116px;
    margin-top: 40px;
    margin-left: 237px;
  }

  .author-info {
    color: white;
    padding-top: 11px;
    padding-right: 15px;
    padding-left: 15px;
    font-family: "Roboto Slab", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    width: 230px;
    margin: 0;
  }

  .author {
    margin: 0;
    color: white;
    padding-top: 8px;
    padding-right: 9px;
    padding-left: 157px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    text-align: right;
  }

  .course-sec {
    margin-top: 21px;
    margin-left: 70px;
    margin-bottom: 94px;
  }

  .title {
    font-family: "Roboto Slab", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 101.38%;
  }

  .main-sect {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
  }

  .text {
    padding-right: 110px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    margin: 0;
  }

  .logo1 {
    width: 181px;
    margin-right: 88px;
  }

  .course {
    display: flex;
    margin-top: 54px;
    align-items: center;
  }

  .logo2 {
    width: 134px;
    margin-right: 76px;
  }

  .sect {
    width: 92px;
    margin-right: 50px;
  }

  .number {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 130%;
  }

  .description {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 130%;
  }

  .format {
    margin-top: 62px;
    margin-left: 70px;
  }

  .ts-info {
    display: flex;
    margin-top: 68px;
    justify-content: left;
  }

  .sect-ts {
    width: 155px;
  }

  .sect-ts_second {
    margin-left: 46px;
    margin-right: 50px;
  }

  .head-ts {
    margin: 0;
    color: #1e4681;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 130%;
  }

  .text-ts {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 130%;
    margin-top: 4px;
  }

  .about-sec {
    margin-top: 103px;
    margin-left: 70px;
    margin-bottom: 132px;
  }

  .spisok {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    width: 383px;
    margin-top: 30px;
    padding-left: 13px;
  }

  .program {
    margin-left: 70px;
    padding-bottom: 53px;
  }

  .program-title {
    margin-left: 15px;
  }

  .rectangles {
    display: flex;
    flex-wrap: wrap;
    margin-top: 72px;
  }

  .rectangle {
    border: none;
    border-radius: 30px;
    box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
    margin-right: 17.375px;
    margin-bottom: 24px;
    height: 189.97px;
  }

  .rectangle img {
    width: 231px;
  }

  .rect-head {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 130%;
    margin: 0;
    padding-top: 7px;
    padding-left: 11.35px;
    padding-bottom: 18.85px;
  }

  .rect-head_last {
    padding-bottom: 2px;
  }

  .rect-info {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    margin: 0;
    width: 135px;
    padding-left: 11.35px;
    padding-bottom: 13.4px;
  }

  .otziv {
    background-color: #efefef;
    padding-top: 52.7px;
    padding-left: 70px;
    padding-bottom: 64.29px;
  }

  .card {
    margin-top: 38px;
    margin-left: 2px;
    background: #ffffff;
    box-shadow: 0.579167px 0.579167px 11.5833px rgba(0, 0, 0, 0.25);
    border-radius: 17.375px;
    width: 458.12px;
    padding-top: 23.17px;
  }

  .card-info {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    width: 405.42px;
    margin-left: 26px;
    margin-bottom: 6px;
    margin-top: 0;
  }

  .avatar {
    display: flex;
    margin-left: 15px;
    padding-bottom: 16.8px;
  }

  .avatar-img {
    width: 110px;
    margin-right: 18px;
  }

  .fio {
    font-family: "Roboto Slab", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 101.38%;
  }

  .fio-icon {
    width: 18.53px;
  }

  .date {
    background-color: #9dc9c8;
    padding-top: 77px;
    padding-left: 70px;
    padding-bottom: 107.5px;
  }

  .price {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 101.38%;
    margin: 31px 0 4px 0;
  }

  .pricen {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 101.38%;
    margin: 0;
  }

  .date-f {
    display: flex;
  }

  .date-d {
    width: 170px;
    margin-top: 41px;
    margin-right: 40px;
  }

  .date-f_h {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 101.38%;
    margin: 0 0 7px 0;
  }

  .date-f_p {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 101.38%;
    margin: 0;
  }

  footer {
    background-color: #000;
    color: white;
    padding-left: 70px;
    padding-top: 29px;
    padding-bottom: 26px;
  }

  .footer-f {
    display: flex;
  }

  .logo-icon {
    margin-right: 380px;
  }

  .logo-phone {
    visibility: hidden;
    position: absolute;
  }

  .icon {
    margin-top: 17px;
    margin-right: 10px;
    width: 19px;
  }

  .contact {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 101.38%;
    margin-left: 12px;
  }

  .contact-p {
    display: flex;
  }

  .contact-d {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 101.38%;
    margin-top: 84px;
    margin-bottom: 0;
  }

  .img-contact {
    width: 16px;
  }
}

@media (min-width: 275px) and (max-width: 833px) {
  .kino {
    margin-top: 36px;
    margin-left: 35px;
    margin-bottom: 75px;
  }

  .logo {
    width: 52px;
  }

  .main-menu {
    display: flex;
    margin-top: 0px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 115%;
    margin-bottom: 12px;
  }

  .mm-text {
    width: 90px;
    height: 11px;
    margin-right: 11px;
  }

  .text2 {
    margin-right: 15px;
  }

  .icon {
    margin-right: 3px;
    width: 10px;
    height: 9.79px;
  }

  .main-text {
    display: inline;
    justify-content: center;
    margin-right: 150px;
  }

  .main-title {
    width: 293px;
    margin-right: 126px;
  }

  .title-kino {
    font-family: "Roboto Slab", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 101.38%;
    margin: 0;
    width: 271px;
  }

  .info {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 150%;
    width: 213px;
  }

  .mainlogo {
    position: absolute;
    visibility: hidden;
    width: 141px;
  }

  .mainlogo-phone {
    position: relative;
    visibility: visible;
    width: 141px;
    margin-left: 166px;
    margin-top: 2px;
  }

  .author-block {
    background-color: #1e4681;
    border-radius: 2.329px;
    width: 255px;
    height: 93px;
    margin-top: 38px;
    margin-left: 3px;
  }

  .author-info {
    color: white;
    padding-top: 8px;
    padding-right: 12.59px;
    padding-left: 12.39px;
    font-family: "Roboto Slab", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 130%;
    width: 190px;
    margin: 0;
  }

  .author {
    margin: 0;
    color: white;
    padding-top: 6.63px;
    padding-right: 7.34px;
    padding-left: 124px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 130%;
    text-align: right;
  }

  .course-sec {
    margin-top: 21px;
    margin-left: 36px;
    margin-bottom: 76px;
  }

  .title {
    font-family: "Roboto Slab", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 101.38%;
  }

  .main-sect {
    display: inline;
    justify-content: center;
    align-items: center;
    margin-top: 21.78px;
  }

  .text {
    padding-right: 15px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    margin: 0;
  }

  .logo1 {
    width: 170px;
    margin-left: 66px;
  }

  .course {
    display: flex;
    flex-wrap: wrap;
    margin-top: 11px;
    align-items: center;
  }

  .logo2 {
    visibility: hidden;
    position: absolute;
    width: 134px;
    margin-right: 76px;
  }

  .sect {
    width: 85px;
    margin-right: 33px;
    margin-top: 25px;
  }

  .number {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
  }

  .description {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 130%;
    margin-top: 2px;
  }

  .format {
    margin-left: 36px;
    margin-bottom: 73px;
  }

  .ts-info {
    display: inline;
    justify-content: left;
    margin-top: 32px;
  }

  .sect-ts {
    width: 180px;
    margin-top: 32px;
  }

  .sect-ts_second {
    margin-right: 50px;
    margin-left: 0;
  }

  .head-ts {
    margin: 0;
    color: #1e4681;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
  }

  .text-ts {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 130%;
    margin-top: 4px;
  }

  .about-sec {
    margin-top: 78px;
    margin-left: 36px;
    margin-bottom: 85px;
  }

  .spisok {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    width: 299px;
    margin-top: 22px;
    padding-left: 10px;
  }

  .program {
    margin-left: 35px;
    padding-bottom: 47px;
  }

  .program-title {
    margin-left: 0px;
  }

  .rectangles {
    display: flex;
    flex-wrap: wrap;
    margin-top: 51px;
    justify-content: center;
    margin-left: -25px;
  }

  .rectangle {
    border: none;
    border-radius: 13.9792px;
    box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
    margin-right: 17.375px;
    margin-bottom: 24px;
    height: 152.84px;
  }

  .rectangle img {
    width: 185px;
  }

  .rect-head {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
    margin: 0;
    padding-top: 5.13px;
    padding-left: 9.32px;
    padding-bottom: 14.85px;
  }

  .rect-head_last {
    padding-bottom: 2px;
  }

  .rect-info {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 130%;
    margin: 0;
    width: 125px;
    padding-left: 9px;
    padding-bottom: 10.4px;
  }

  .otziv {
    background-color: #efefef;
    padding-top: 42px;
    padding-left: 36px;
    padding-bottom: 53px;
  }

  .card {
    margin-top: 29px;
    margin-left: 2px;
    margin-right: 32px;
    background: #ffffff;
    box-shadow: 0.465972px 0.465972px 9.31944px rgba(0, 0, 0, 0.25);
    border-radius: 13.9792px;
    width: 308px;
    padding-top: 18.47px;
  }

  .card-info {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 150%;
    width: 266px;
    margin-left: 21px;
    margin-bottom: 6px;
    margin-top: 0;
  }

  .avatar {
    display: flex;
    margin-left: 15px;
    padding-bottom: 16.8px;
  }

  .avatar-img {
    width: 80px;
    margin-right: 13.63px;
  }

  .fio {
    font-family: "Roboto Slab", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 101.38%;
  }

  .fio-icon {
    width: 14.97px;
  }

  .date {
    background-color: #9dc9c8;
    padding-top: 62px;
    padding-left: 35px;
    padding-bottom: 69px;
  }
  .title-date {
    margin-top: 0;
    width: 224px;
  }

  .price {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 101.38%;
    margin: 28px 0 3.3px 0;
  }

  .pricen {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 101.38%;
    margin: 0;
  }

  .date-f {
    display: flex;
    width: 320px;
  }

  .date-d {
    width: 200px;
    margin-top: 32px;
    margin-right: 20px;
  }

  .date-f_h {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 101.38%;
    margin: 0 0 7px 0;
  }

  .date-f_p {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 101.38%;
    margin: 0;
  }

  footer {
    background-color: #000;
    color: white;
    padding-left: 35px;
    padding-top: 23.3px;
    padding-bottom: 19px;
  }

  .footer-f {
    display: inline;
  }

  .logo {
    visibility: hidden;
    position: absolute;
  }

  .logo-icon {
    margin-bottom: 47.66px;
  }

  .logo-phone {
    visibility: visible;
    position: relative;
  }

  .icon-phone {
    display: flex;
  }

  .icon {
    margin-top: 14px;
    margin-right: 10px;
    width: 15px;
  }

  .contact {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 101.38%;
    margin: 0;
  }

  .contact-p {
    display: flex;
    margin-top: 7px;
  }

  .contact-d {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 101.38%;
    margin-top: 54px;
    margin-bottom: 0;
  }

  .img-contact {
    width: 13px;
    margin-right: 11px;
  }
}
